<html lang="en">
<head>
    <title>Species Prediction</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<!-- Input Form -->
<div  class="input form">
  <form action="/prediction" method="post" id="input head">
    <h1 id="heading">Flower Species prediction</h1>
    <h3 id="input">Enter the features</h3>
    <labe>Sepal Length :</labe>
    <input type="text" name="SL" placeholder="Enter the SL">
    <br>
    <br>
    <labe>Sepal Width :</labe>
    <input type="text" name="SW" placeholder="Enter the SW">
    <br>
    <br>
    <labe>Petal Length :</labe>
    <input type="text" name="PL" placeholder="Enter the PL">
    <br>
    <br>
    <labe>Petal Width :</labe>
    <input type="text" name="PW" placeholder="Enter the PW">
    <br>
    <br>
    <button id="submit" type="submit">Submit</button>
  </form>
 
</div>
   
</body>
</html>

</html>
